In [72]:
# The following function will convert categories in a single column to a multiple columns, one for each category selection

In [1]:

def cat_cols (dataset, sel_cols, remove_one = False):
    
    df1 = dataset.copy()
    df1.head()
    v = sel_cols
    d_first = remove_one

    df_cat = df1[v]
    df1.drop(v, axis=1, inplace=True)
    
    if d_first == True:
        
        cat_df = pd.get_dummies(df_cat[v],  drop_first=True)
        
    else:
        
        cat_df = pd.get_dummies(df_cat[v],  drop_first=False)
    
    dataset = pd.concat([df1, cat_df], axis=1, sort=False)
    
    
    return dataset

In [2]:
# Example of Function use. Call categorize cols "cat_cols" and provide pandas dataset, list of columns to convert ["abc", "def"]
# And remove first to true or false. 

import pandas as pd
import numpy as np
import os

pur_ds = pd.read_excel('LS2_Purchase_data.xlsx', index_col=0)

In [6]:

cols = ["Gender", "Age"]
remove_first = False
d_new = cat_cols(pur_ds, cols, remove_first)
d_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 19 columns):
User_ID                       50000 non-null int64
Product_ID                    50000 non-null object
Occupation                    50000 non-null int64
City_Category                 50000 non-null object
Stay_In_Current_City_Years    50000 non-null object
Marital_Status                50000 non-null int64
Product_Category_1            50000 non-null int64
Product_Category_2            34279 non-null float64
Product_Category_3            15183 non-null float64
Purchase                      50000 non-null int64
Gender_F                      50000 non-null uint8
Gender_M                      50000 non-null uint8
Age_0-17                      50000 non-null uint8
Age_18-25                     50000 non-null uint8
Age_26-35                     50000 non-null uint8
Age_36-45                     50000 non-null uint8
Age_46-50                     50000 non-null uint8
Age_51-55                     50000 non-null uint8
Age_55+                       50000 non-null uint8
dtypes: float64(2), int64(5), object(3), uint8(9)
memory usage: 4.6+ MB