In [1]:
from datetime import datetime

In [3]:
my_year = 2019
my_month = 3
my_day = 12
my_hour = 13
my_minute = 24
my_second = 3

my_date = datetime(my_year, my_month, my_day, my_hour, my_minute, my_second)
# If you do not include hour ... it defaults to zer0
print(my_date)

2019-03-12 13:24:03

In [4]:
# you have many option when you tab after my_date.
# my_date.day as an example
my_date

datetime.datetime(2019, 3, 12, 13, 24, 3)

In [5]:
my_date.day

12

In [8]:
# we can use numpy for dates using datetime64

import numpy as np

# we will create a standard array which returns an array of strings

np.array(['2019-03-17','2020-05-14', '2019-08-16'])

array(['2019-03-17', '2020-05-14', '2019-08-16'], dtype='<U10')

In [9]:
# Save as a dates in numpy
# The [D] identifies as day precision
np.array(['2019-03-17','2020-05-14', '2019-08-16'],dtype='datetime64')

array(['2019-03-17', '2020-05-14', '2019-08-16'], dtype='datetime64[D]')

In [10]:
# year precision you can change to [h] and others as example
np.array(['2019-03-17','2020-05-14', '2019-08-16'],dtype='datetime64[Y]')

array(['2019', '2020', '2019'], dtype='datetime64[Y]')

In [12]:
# working with a range. Examples using integers

np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [13]:
# example using dates, note we have to provide more details on interval

np.arange('2019-05-07', '2019-06-02', 5, dtype='datetime64[D]')

array(['2019-05-07', '2019-05-12', '2019-05-17', '2019-05-22',
       '2019-05-27', '2019-06-01'], dtype='datetime64[D]')

In [14]:
# We will now use pandas 

import pandas as pd

# Note Datetime Index and it can work to nanosecond ns

pd.date_range('2020-03-05', periods = 7, freq = 'D')

DatetimeIndex(['2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10', '2020-03-11'],
              dtype='datetime64[ns]', freq='D')

In [15]:
# Pandas is good at inferring dates, Note change in date format

pd.date_range('Jan 01, 2010', periods = 7, freq = 'D')

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06', '2010-01-07'],
              dtype='datetime64[ns]', freq='D')

In [19]:
# Example of conversion to date. You can use the format to designate date order 
# npd.to_datetime(['jan 1, 2018', '01/01/2018'])
# %m/%d/%Y you can change the / to whatever is the delimiter between date numbers
pd.to_datetime(['03/12/2018', '01/01/2018'], format = "%m/%d/%Y")

DatetimeIndex(['2018-03-12', '2018-01-01'], dtype='datetime64[ns]', freq=None)

In [25]:
# setup a dateframe with dates as the index
# 3 X 2 np array of random numbers

data = np.random.randn(3,2)
cols = ['A', 'B']

# create an idx which needs to be 3

idx = pd.date_range('2020/04/02', periods = 3, freq ='D')

df = pd.DataFrame(data, index=idx, columns = cols)
df

                   A         B
2020-04-02 -0.317898 -0.328164
2020-04-03  0.916380  0.864911
2020-04-04  0.156362  1.626839

In [27]:
# You can utilize methods like .max() for newest date or argmax() for the location of max
df.index.argmax()

2