In [38]:
# This code provides an examples to normalize the data 
# We are utilizing two techniques (Min Max & Standard) (X - min)/(max - min))
# Utilize sklearn.preprocessing MinMaxScaler and StandardScaler

import pandas as pd
import numpy as np
from sklearn import datasets
import matplotlib.pyplot as plt

# We will be normalizing two columns "No" and "Money" and need to remove other columns

dataset = pd.read_csv("Fraud.csv", encoding='latin1')
dataset = dataset.drop(["CC", "City", "Phone", "Fraud"], axis=1)
print(dataset.head(10))

             No    Money
0  1.610000e+12  $6,871
1  1.680000e+12  $7,965
2  1.650000e+12  $7,927
3  1.630000e+12  $9,525
4  1.630000e+12  $7,008
5  1.650000e+12  $5,138
6  1.650000e+12  $6,921
7  1.640000e+12  $7,821
8  1.680000e+12  $7,426
9  1.650000e+12  $7,344

In [41]:
# Convert Money to an integer and remove "$" and ","

dataset["Money"] = dataset["Money"].str.replace(r'$', '')
dataset["Money"] = dataset["Money"].str.replace(r',', '').astype(int)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 2 columns):
No       99 non-null float64
Money    99 non-null int32
dtypes: float64(1), int32(1)
memory usage: 1.2 KB

In [49]:
from sklearn.preprocessing import MinMaxScaler


# Establish object instance of MinMax Scalar

mms = MinMaxScaler()

# Normalize all columns : Output is an ndarry 

var_norm = mms.fit_transform(dataset)

# convert var_norm nparray to df use columns in original df X

minmax_dataset = pd.DataFrame(data = var_norm, columns = dataset.columns )

In [51]:
minmax_dataset.describe()

              No      Money
count  99.000000  99.000000
mean    0.534091   0.452341
std     0.312790   0.308412
min     0.000000   0.000000
25%     0.250000   0.184024
50%     0.500000   0.434024
75%     0.812500   0.682298
max     1.000000   1.000000

In [53]:
from sklearn.preprocessing import StandardScaler


# Establish object instance of MinMax Scalar

sss = StandardScaler()

# Normalize all columns : Output is an ndarry 

var_norm = sss.fit_transform(dataset)

# Convert to dataframe

standard_dataset = pd.DataFrame(data = var_norm, columns = dataset.columns )

In [61]:
standard_dataset.describe()

                 No         Money
count  9.900000e+01  9.900000e+01
mean   8.720578e-16 -7.177199e-17
std    1.005089e+00  1.005089e+00
min   -1.716197e+00 -1.474141e+00
25%   -9.128709e-01 -8.744237e-01
50%   -1.095445e-01 -5.969536e-02
75%    8.946135e-01  7.494096e-01
max    1.497108e+00  1.784773e+00