In [1]:

import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

os.chdir('C:\\Users\\mbroome\\Documents\\Python\\Preprocessing')

In [2]:
ds = pd.read_excel("LS2_Purchase_data.xlsx")
ds.head(3)

,Unnamed: 0,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422

In [6]:
   
col_sel = ["Gender"]
ds[col_sel].info()
# ds[col_sel].describe()
# plt.show()
# ds[col_sel].plot.hist(bins=10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 1 columns):
Gender    50000 non-null object
dtypes: object(1)
memory usage: 390.7+ KB

In [22]:
col_sel = ["Gender"]
# ds[col_sel].info()
ds.loc[ds.Gender == "M", "Gender"].count()

37812

In [26]:
# get counts by category name

null_no = 0
category_count = {}
for results in ds["Age"]:
    if pd.isnull(results):
        null_no += 1
    elif results in category_count.keys():
        category_count[results] += 1
    else:
        category_count[results] = 1

In [27]:
category_count

{'0-17': 1409,
 '55+': 1902,
 '26-35': 19731,
 '46-50': 4006,
 '51-55': 3490,
 '36-45': 9847,
 '18-25': 9615}

In [17]:
x["key1"] += 1

In [18]:
x["key1"]

2